app_name: "IG_Automation_Bot"

# Instagram credentials
account:
  username: "YOUR_IG_USERNAME"
  password: "YOUR_IG_PASSWORD"

# User acquisition settings
users_src:
  src_accounts: # List of account where you want to fetch followers 
    - "IG_USERNAME_WHERE_FETCH_FOLLOWERS"
  fetch_quantity: 500

# Bot configuration
bot:
  auto_follow: true
  auto_dm: true
  max_dm_quantity: 30 # Per day
  max_follow_quantity: 100 # Per day
  blacklist_interacted_users: true
  headless_browser: false
  quotas: 
    dm_per_day: 50
    dm_per_hour: 5
    follow_per_day: 100
    follow_per_hour: 10
    activated: true
  schedule: # 24h format
    begin_at: 8
    end_at: 18
    activated: true

# Templates
dm_templates:
  - "Hey ! What's up?"
greeting:
  template: "Hello"
  activated: false
